@charset "UTF-8";
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
body {
  background-color: #c3cfe2;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 25px;
  width: 85%;
  margin: 30px auto 60px;
  box-shadow: 0 10px 15px #7a818d;
}
.testimonial-card__text {
  color: darkslategray;
  font-weight: 500;
  line-height: 2;
  padding: 20px 30px 50px;
}
.testimonial-card__footer {
  background-color: #686de0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 25px 25px;
  padding-bottom: 30px;
}
.testimonial-card__footer h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin: 10px;
  letter-spacing: 2px;
}
.testimonial-card__footer a {
  color: #c3cfe2;
}
.testimonial-card__footer img {
  width: 120px;
  border-radius: 100px;
  border: 5px solid #fff;
  margin-top: -60px;
}

.portfolio {
  display: grid;
  width: 85%;
  margin: 30px auto 60px;
  gap: 1%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: " a " " b " " c " " d " " e " " f " " g " " h ";
}
.portfolio__img {
  position: relative;
  background-color: #686de0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.portfolio__img img {
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  transition: transform 1s, opacity 1s;
}
.portfolio__img:hover img {
  transform: scale(1.3);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.portfolio__img:hover > .portfolio__overlay {
  opacity: 1;
}
.portfolio__img--1 {
  grid-area: a;
}
.portfolio__img--2 {
  grid-area: b;
}
.portfolio__img--3 {
  grid-area: c;
}
.portfolio__img--4 {
  grid-area: d;
}
.portfolio__img--5 {
  grid-area: e;
}
.portfolio__img--6 {
  grid-area: f;
}
.portfolio__img--7 {
  grid-area: g;
}
.portfolio__img--8 {
  grid-area: h;
}
.portfolio a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
  position: absolute;
  opacity: 0;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid black;
}

.social-buttons {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
  position: fixed;
  bottom: 5%;
  right: 0;
}
.social-buttons li {
  max-width: 40px;
  transition: max-width 1s;
}
.social-buttons li:hover {
  max-width: 300px;
  transition: max-width 1s;
}
.social-buttons a {
  color: #fff;
  padding: 10px;
  font-size: 16px;
}
.social-buttons .icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
.social-buttons--blog {
  background-color: #e17b77;
}
.social-buttons--blog .icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.social-buttons--twitter {
  background-color: #00aced;
}
.social-buttons--twitter .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  content: "";
}
.social-buttons--linkedin {
  background-color: #007bb6;
}
.social-buttons--linkedin .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  content: "";
}
.social-buttons--facebook {
  background-color: #3b5998;
}
.social-buttons--facebook .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  content: "";
}
.social-buttons--github {
  background-color: #333;
}
.social-buttons--github .icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  content: "";
}

@media (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    grid-template-areas: " a b " " c d " " e f " " g h ";
  }

  .social-buttons li {
    max-width: 50px;
  }
  .social-buttons .icon::before {
    padding: 15px;
  }
}
@media (min-width: 1020px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    grid-template-areas: " a b c " " d e f " " g h . ";
  }

  .social-buttons li {
    max-width: 60px;
  }
  .social-buttons .icon::before {
    padding: 20px;
  }
}/*# sourceMappingURL=styles.css.map */